<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="io.asgardeo.android.core.core.ui.RedirectAuthenticationManagementActivity"
            android:exported="false"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar"
            android:launchMode="singleTask"
            />
        <activity
            android:name="io.asgardeo.android.core.core.ui.RedirectUriReceiverActivity"
            android:exported="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar"
            >
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${callbackUriHost}"
                    android:scheme="${callbackUriScheme}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
